* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    width: 100vh;
    background : linear-gradient( to bottom, #68EACC 0%,#497BE8 100%);
} 
.wrapper {
margin: 120px auto;
max-width: 400px;
width: 100%;
background-color:#fff;
border-radius:5px;
padding: 25px;

}
.wrapper .header{
    font-size: 30px;
    font-weight: 600;
}
.wrapper .inputfield{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
    
}
.inputfield input{
    width: 85%;
    height: 100%;
    border: 2px solid #ccc;
    outline: none;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}
.inputfield button {
width: 60px;
height: 100%;
border: none;
outline: none;
background-color: #8E49E8;
cursor: pointer;
border-radius: 3px;
margin-left: 5px;
opacity: 0.6;
pointer-events: none;

}
.inputfield button.active{
    opacity: 1;
    pointer-events:auto;

}
.wrapper .list{
    max-height: 250px;
    overflow-y: auto;

}
.list li{
    list-style: none;
    height: 45px;
line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 2px;
    margin-bottom: 8px;
    padding: 0px 15px;
    cursor: default;
   overflow: hidden;

}

.list li button{
position: absolute;
right: 0px;
margin-top: 12px;
cursor: pointer;
background-color:#b60d0d; 
border-radius: 4px;
right: -45px;
color: seashell;
width: 45px;
transition: all 0.3s ease;

}
.list li:hover button {
    right: 0px;
}
.wrapper .fotter{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;

}
.fotter button{
    border: none;
    outline: none;
    background-color:#8E49E8;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 16px;
    padding: 6px 10px;
    right: -45px;
}
.fotter:hover{
    right: 0px;
}
    